* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.footer {
    flex: 0 0 auto;
}

.centered{
    text-align: center;
}

.centered > *{
    margin: 0 auto;
}

.header{
    font-family: Lobster, sans-serif;
    font-size: x-large;
    color: white;
    padding: 10px;
    background-color: crimson;
}
.header > span{
    margin: 0 20px;
}
.student-name{
    float: right;
}

.svg-container {
    text-align: center;
}
.svg-graph{
    position: relative;
    margin: 0 auto;
    background-color: antiquewhite;

}

.data-send-form{
    float: right;
    margin: 0 auto;
}

.radio-buttons{
    display: flex;
    flex-direction: row;
}

.send-button{
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
}

.send-button:hover {
    background-color: rgb( 75, 183, 141 );
}
.clear-button{
    background-color: rgb(187, 11, 16);
    border: 1px solid rgb(154, 12, 17);
}

.clear-button:hover {
    background-color: rgb(225, 12, 19);
}

button {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    width:100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.form-buttons{
    margin: 10px;
    text-align: center;
}
.form-buttons > button{
    margin: 3px 10px;
}

footer{
    background-color: crimson;
    align-self: end;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.github-icon{
    margin-top: 10px;
    font-size: xx-large;
}
.fa-github{
    color: white;
}
.student-name-footer{
    font-family: Lobster, sans-serif;
    font-size: medium;
    color: white;
}

.is-valid{
    border-color: green;
    border-width: 2px;
    border-style: solid;
}

.is-invalid{
    border-color: red;
}

.svg-figure:hover{
    fill: orangered;
}

#target-dot{
    fill: red;
    transition: all 1s;
}

.radio-buttons > p{
    padding: 0 2px;
}
.radio-input{
    display: block;
}

.radio-label{
    display: block;
}

@media (min-width:100px)  {
    .content{
        flex-direction: column;
        text-align: center;
    }
    .table-wrapper{
        margin: 0 auto;
        text-align: center;
        overflow-x: scroll;

    }
    .table{
        overflow-x: auto;
        width: 100vw;
    }


    .table-header{
        overflow-x: auto
    }

    .form-inputs{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:1326px)  {
    .content{
        flex-direction: row;
    }
    .form-inputs{
        display: flex;
        flex-direction: row;
    }

    .table{
        width: 100%;
    }
}



@keyframes dash {
    0% {
        fill-opacity: 0;
    }
    50% {
        fill-opacity: .10;
    }
    60% {
        fill-opacity: .15;
    }
    70% {
        fill-opacity: .20;
    }
    80% {
        fill-opacity: .35;
    }

    to {
        stroke-dashoffset: 0;
        fill-opacity: .40;
    }
}

@keyframes full-opacity-anim {
    from {
        fill-opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}
.coor-text {
    fill-opacity: 0;
    animation: full-opacity-anim 1s 3s linear forwards;
}

.coor-line {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 3s 3s linear forwards;

}

path {
    fill-opacity: 0;
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    animation: dash 3s 3s linear forwards;
}

polygon{
    fill-opacity: 0;
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    animation: full-opacity-anim 3s 3s linear forwards;
}

.triangle-figure {
    fill-opacity: 0;
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    animation: dash 3s 3s linear forwards;
}

.rectangle-figure {
    fill-opacity: 0;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 3s 3s linear forwards;
}

.axis {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 3s linear forwards;
}
